/* font-family: 'Nanum Pen Script', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
/*font-family: 'Noto Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Gugi', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
#wrap {
  font-family: 'Noto Sans KR';
  width: 100%;
}

#wrap > header {
  width: 100%;
}

#wrap > header > .mnu {
  width: 100%;
  border-bottom: 1px solid #dedede;
}

#wrap > header > .mnu > .topmnu {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

#wrap > header > .mnu > .topmnu > .leftmnu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header > .mnu > .topmnu > .leftmnu > li {
  width: 100px;
}

#wrap > header > .mnu > .topmnu > .leftmnu > li > a {
  display: block;
  height: 45px;
  color: #aaa;
  font-size: 14px;
  text-align: center;
  line-height: 45px;
}

#wrap > header > .mnu > .topmnu > .rightmnu {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header > .mnu > .topmnu > .rightmnu > li {
  width: 80px;
}

#wrap > header > .mnu > .topmnu > .rightmnu > li:nth-of-type(4) {
  width: 130px;
}

#wrap > header > .mnu > .topmnu > .rightmnu > li:nth-of-type(5) {
  width: 130px;
}

#wrap > header > .mnu > .topmnu > .rightmnu > li > a {
  display: block;
  height: 45px;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
  color: #aaa;
}

#wrap > header > .mnu > .topmnu > .rightmnu > li > select {
  height: 45px;
}

#wrap > header > .mnunav {
  position: relative;
  width: 1400px;
  height: 100px;
  margin: 0 auto;
}

#wrap > header > .mnunav > h1 {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -22px;
  width: 169px;
  background-image: url(./../images/logo_header.png);
}

#wrap > header > .mnunav > h1 > a {
  display: block;
  height: 43px;
  text-indent: -9999px;
}

#wrap > header > .mnunav > nav > .gnb {
  position: absolute;
  left: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
}

#wrap > header > .mnunav > nav > .gnb > li {
  position: relative;
  width: 130px;
}

#wrap > header > .mnunav > nav > .gnb > li > a {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 600;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#wrap > header > .mnunav > nav > .gnb > li > a:after {
  display: block;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -3px;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #3160c2 transparent;
  content: '';
}

#wrap > header > .mnunav > nav > .gnb > li .lnb {
  position: absolute;
  top: 80px;
  left: -15px;
  display: none;
  border: 1px solid #3160c2;
  background-color: #fff;
  z-index: 1000;
}

#wrap > header > .mnunav > nav > .gnb > li .lnb > li {
  position: relative;
  border-bottom: 1px solid #dedede;
  width: 150px;
}

#wrap > header > .mnunav > nav > .gnb > li .lnb > li > a {
  display: block;
  height: 30px;
  text-align: left;
  line-height: 30px;
  font-size: 16px;
  margin: 10px;
}

#wrap > header > .mnunav > nav > .gnb > li .lnb > li:hover > a {
  display: block;
  color: red;
  text-indent: 10px;
}

#wrap > header > .mnunav > nav > .gnb > li .lnb > li:hover > a:before {
  position: absolute;
  left: 10px;
  top: 11px;
  width: 2px;
  height: 2px;
  content: '';
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent transparent #3160c2;
}

#wrap > header > .mnunav > nav > .gnb > li:hover > a {
  color: #3160c2;
}

#wrap > header > .mnunav > nav > .gnb > li:hover > a:after {
  display: block;
}

#wrap > header > .mnunav > nav > .bar {
  position: absolute;
  right: 350px;
  top: 50%;
  margin-top: -8px;
  width: 22px;
  background-image: url(./../images/sp_ui.png);
}

#wrap > header > .mnunav > nav > .bar > a {
  display: block;
  text-indent: -9999px;
  height: 22px;
}

#wrap > header > .mnunav > nav > .search {
  position: absolute;
  right: 0;
  top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header > .mnunav > nav > .search > form > input {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.658);
}

#wrap > header > .mnunav > nav > .search > a {
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(./../images/sp_ui.png);
  background-position: -26px -0;
  text-indent: -9999px;
}

#wrap > section > .cont1 > .bg_main {
  position: relative;
  width: 100%;
  height: 849px;
  background: #e1f4f5 url(./../images/bg_main01.jpg) no-repeat 100% 0/auto 100%;
}

#wrap > section > .cont1 > .bg_main > .sns-slide {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  font-weight: 600;
  width: 150px;
  height: 130px;
  text-align: center;
  line-height: 130px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 730px;
  top: 55px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .sns > li {
  width: 40px;
  background-image: url(./../images/sp_main.png);
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .sns > li:nth-last-of-type(1) {
  background-position: -360px -38px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .sns > li:nth-last-of-type(2) {
  background-position: -316px -38px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .sns > li:nth-last-of-type(3) {
  background-position: -272px -38px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .sns > li:nth-last-of-type(4) {
  background-position: -228px -86px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .sns > li > a {
  display: block;
  height: 46px;
  text-indent: -9999px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide {
  position: absolute;
  top: 130px;
  left: 0;
  width: 930px;
  height: 450px;
  overflow: hidden;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide > .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1240px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide > .slide-container > li {
  border-radius: 10px;
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide > .slide-container > li > a {
  display: block;
  font-size: 16px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide > .slide-container > li > a > .pic {
  display: block;
  height: 215px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide > .slide-container > li > a > .pic > img {
  display: block;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide > .slide-container > li > a > .txt {
  display: block;
  height: 100px;
  font-size: 18px;
  color: #999;
  padding: 10px;
  line-height: 1.4;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide > .slide-container > li > a > .date {
  position: relative;
  display: block;
  height: 40px;
  font-size: 14px;
  color: #999;
  padding: 10px;
  line-height: 40px;
  border-top: 1px solid #dedede;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .slide > .slide-container > li > a > .date:after {
  position: absolute;
  content: '';
  bottom: 25px;
  right: 20px;
  width: 14px;
  height: 14px;
  background-image: url(./../images/sp_main.png);
  background-position: -324px 0;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .popup {
  position: absolute;
  right: 0;
  top: 90px;
  width: 400px;
  height: 384px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .popup > p {
  width: 400px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .popup > p > .time {
  display: block;
  height: 87px;
  font-size: 16px;
  color: #fff;
  line-height: 87px;
  text-align: center;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .popup > .frame {
  width: 400px;
  overflow: hidden;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .popup > .frame > a {
  display: block;
  height: 297px;
  text-indent: -9999px;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-image: url(./../images/img_vdo.png);
  overflow: hidden;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .popup > .frame:hover > a {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .stroy {
  position: absolute;
  top: 520px;
  right: 0;
  width: 400px;
  height: 252px;
  color: #fff;
  margin: 0 auto;
  text-align: right;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .stroy > h2 {
  font-family: 'Nanum Pen Script';
  font-size: 50px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .stroy > p {
  font-size: 18px;
  margin-top: 30px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .stroy > p > span {
  color: orange;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .stroy > .last {
  margin-top: 100px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .stroy > span {
  position: absolute;
  bottom: 30px;
  right: 0;
  display: block;
  width: 130px;
  padding: 3px;
  border: 1px solid #fff;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .stroy > span > a {
  display: block;
  height: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  text-indent: 10px;
  line-height: 30px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .stroy > span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 7px;
  height: 7px;
  margin: auto;
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info {
  position: absolute;
  top: 650px;
  left: 0;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
  height: 145px;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li {
  width: 102px;
  height: 100px;
  background-image: url(./../images/sp_main_ico01.png);
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li:nth-of-type(2) {
  background-position: -102px 0;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li:nth-of-type(3) {
  background-position: -204px 0;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li:nth-of-type(4) {
  background-position: -306px 0;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li:nth-of-type(5) {
  background-position: -408px 0;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li:nth-of-type(6) {
  background-position: -510px 0;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li:nth-of-type(7) {
  background-position: -612px 0;
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#wrap > section > .cont1 > .bg_main > .sns-slide > .info > .list-info > li > a {
  display: block;
  height: 145px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
  line-height: 250px;
  text-align: center;
}

#wrap > section > .cont2 {
  margin: 100px 0;
}

#wrap > section > .cont2 > .notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  height: 180px;
  margin: 0 auto;
  border: 10px solid;
  -o-border-image: url(./../images/bg_notice.png) 10 round;
     border-image: url(./../images/bg_notice.png) 10 round;
}

#wrap > section > .cont2 > .notice > h2 {
  text-indent: -40px;
  width: 200px;
}

#wrap > section > .cont2 > .notice > h2 > a {
  position: relative;
  display: block;
  height: 180px;
  font-size: 30px;
  line-height: 180px;
  text-align: center;
}

#wrap > section > .cont2 > .notice > h2 > a:after {
  position: absolute;
  left: 150px;
  top: 50%;
  margin-top: -13px;
  content: '';
  width: 33px;
  height: 33px;
  background-image: url(./../images/sp_main.png);
  background-position: -72px 0;
}

#wrap > section > .cont2 > .notice > table {
  width: 1200px;
  font-size: 16px;
}

#wrap > section > .cont2 > .notice > table tr {
  width: 600px;
  height: 90px;
  line-height: 90px;
}

#wrap > section > .cont2 > .notice > table tr > td {
  color: #aaa;
}

#wrap > section > .cont3 {
  position: relative;
  width: 1400px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

#wrap > section > .cont3 > .news {
  position: relative;
}

#wrap > section > .cont3 > .news > h2 {
  font-weight: 300;
  font-size: 30px;
}

#wrap > section > .cont3 > .news > .tap-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 150px;
  top: 10px;
  width: 350px;
}

#wrap > section > .cont3 > .news > .tap-pagination > li {
  width: 72px;
}

#wrap > section > .cont3 > .news > .tap-pagination > li.on > a, #wrap > section > .cont3 > .news > .tap-pagination > li:hover > a {
  text-decoration: underline;
  color: #ff683f;
}

#wrap > section > .cont3 > .news > .tap-pagination > li > a {
  display: block;
  height: 26px;
  text-align: center;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
}

#wrap > section > .cont3 > .news > .tab-plus {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-image: url(./../images/sp_main.png);
  background-position: 0 0;
  text-indent: -9999px;
}

#wrap > section > .cont3 > .news > .box {
  position: absolute;
  top: 50px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1400px;
  height: 396px;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li {
  width: 320px;
  background-color: #fff;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a {
  position: relative;
  display: block;
  height: 396px;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .category {
  position: absolute;
  display: block;
  top: 5px;
  left: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  width: 43px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .green {
  background-color: #1eab3b;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .blue {
  background-color: #3f7aff;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .red {
  background-color: #ea4861;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .puple {
  background-color: #ae4de6;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .pic {
  display: block;
  width: 320px;
  height: 220px;
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .pic > img {
  display: block;
  width: 100%;
  height: 100%;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .tit {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin: 20px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .txt {
  display: block;
  margin: 20px 0;
  height: 46px;
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .info {
  display: block;
  height: 50px;
  line-height: 50px;
  border: 1px solid #dedede;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .info > .media {
  display: inline-block;
  font-size: 16px;
  text-indent: 15px;
  color: #4f63a6;
}

#wrap > section > .cont3 > .news > .box > .box-news > .lst_news > li > a > .info > .date {
  display: inline-block;
  font-size: 16px;
  text-indent: 120px;
  font-weight: 300;
}

#wrap > section > .cont4 {
  width: 1600px;
  height: 570px;
  margin: 0 auto;
  background-image: url(./../images/bg_main02.jpg);
  background-position: 0px 200px;
  background-repeat: no-repeat;
}

#wrap > section > .cont4 > .bg_main {
  position: relative;
  width: 1400px;
  height: 220px;
  margin: 0 auto;
}

#wrap > section > .cont4 > .bg_main > .megazine {
  position: absolute;
  top: -50px;
  left: 0;
  width: 280px;
  height: 500px;
}

#wrap > section > .cont4 > .bg_main > .megazine > h2 {
  font-size: 30px;
  font-weight: 300;
}

#wrap > section > .cont4 > .bg_main > .megazine > .frame {
  width: 280px;
  margin-top: 30px;
  border-radius: 15px;
  background-image: url(./../images/megazine.jpg);
}

#wrap > section > .cont4 > .bg_main > .megazine > .frame > a {
  display: block;
  text-indent: -9999px;
  height: 370px;
}

#wrap > section > .cont4 > .bg_main > .megazine > a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  width: 135px;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  line-height: 50px;
}

#wrap > section > .cont4 > .bg_main > .megazine > .btn1:after {
  content: '';
  position: absolute;
  top: 17px;
  right: 10px;
  width: 14px;
  height: 14px;
  background-image: url(./../images/sp_main.png);
  background-position: -324px 0;
}

#wrap > section > .cont4 > .bg_main > .megazine > .btn2:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 5px;
  height: 20px;
  border-left: 1px solid #bababa;
}

#wrap > section > .cont4 > .bg_main > .dstory {
  position: absolute;
  left: 340px;
  top: -50px;
}

#wrap > section > .cont4 > .bg_main > .dstory > h2 {
  width: 390px;
  height: 35px;
  background-image: url(./../images/sp_main.png);
  background-position: 0 -225px;
  text-indent: -9999px;
}

#wrap > section > .cont4 > .bg_main > .dstory > h2:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 105px;
  right: 0;
  border-top: 1px solid #ddd;
}

#wrap > section > .cont4 > .bg_main > .dstory > a {
  position: absolute;
  top: 0;
  right: -20px;
  display: block;
  width: 33px;
  height: 33px;
  background-image: url(./../images/sp_main.png);
  background-position: -72px 0;
  text-indent: -9999px;
}

#wrap > section > .cont4 > .bg_main > .dstory > .dstory-container > li {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  width: 420px;
  border-radius: 30px;
}

#wrap > section > .cont4 > .bg_main > .dstory > .dstory-container > li:nth-of-type(1) {
  background-image: url(./../images/dstory-1.jpg);
  display: block;
}

#wrap > section > .cont4 > .bg_main > .dstory > .dstory-container > li:nth-of-type(2) {
  background-image: url(./../images/dstory-2.jpg);
}

#wrap > section > .cont4 > .bg_main > .dstory > .dstory-container > li:nth-of-type(3) {
  background-image: url(./../images/dstory-3.jpg);
}

#wrap > section > .cont4 > .bg_main > .dstory > .dstory-container > li:nth-of-type(4) {
  background-image: url(./../images/dstory-4.jpg);
}

#wrap > section > .cont4 > .bg_main > .dstory > .dstory-container > li:nth-of-type(5) {
  background-image: url(./../images/dstory-5.jpg);
}

#wrap > section > .cont4 > .bg_main > .dstory > .dstory-container > li > a {
  display: block;
  height: 370px;
  text-indent: -9999px;
}

#wrap > section > .cont4 > .bg_main > .dstory > nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 120px;
  top: 450px;
}

#wrap > section > .cont4 > .bg_main > .dstory > nav > .nav-dst {
  display: block;
  margin: 0 20px 0;
  width: 34px;
  height: 34px;
  background-image: url(./../images/sp_main.png);
  text-indent: -9999px;
}

#wrap > section > .cont4 > .bg_main > .dstory > nav > span {
  display: block;
  width: 40px;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
}

#wrap > section > .cont4 > .bg_main > .dstory > nav > span > strong {
  font-weight: normal;
}

#wrap > section > .cont4 > .bg_main > .dstory > nav > .prev {
  background-position: -109px 0;
}

#wrap > section > .cont4 > .bg_main > .dstory > nav > .next {
  background-position: -147px 0;
}

#wrap > section > .cont4 > .bg_main > .archives {
  position: absolute;
  right: 0;
  top: -60px;
  width: 560px;
  height: 500px;
  overflow: hidden;
}

#wrap > section > .cont4 > .bg_main > .archives > h2 {
  font-size: 30px;
  font-weight: 300;
}

#wrap > section > .cont4 > .bg_main > .archives > a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 33px;
  height: 33px;
  background-image: url(./../images/sp_main.png);
  background-position: -72px 0;
  text-indent: -9999px;
}

#wrap > section > .cont4 > .bg_main > .archives > .archives-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: 25px;
  margin: 20px 0;
}

#wrap > section > .cont4 > .bg_main > .archives > .archives-pagination > li {
  width: 61px;
}

#wrap > section > .cont4 > .bg_main > .archives > .archives-pagination > li.on, #wrap > section > .cont4 > .bg_main > .archives > .archives-pagination > li:hover {
  border-bottom: 3px solid orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap > section > .cont4 > .bg_main > .archives > .archives-pagination > li.on > a, #wrap > section > .cont4 > .bg_main > .archives > .archives-pagination > li:hover > a {
  font-weight: 700;
  color: #000;
}

#wrap > section > .cont4 > .bg_main > .archives > .archives-pagination > li > a {
  display: block;
  font-size: 18px;
  color: #dedede;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 100px;
  width: 3360px;
  height: 439px;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 {
  width: 560px;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 > .archives01-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 560px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 > .archives01-01 > li {
  width: 270px;
  height: 330px;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 > .archives01-01 > li > a {
  display: block;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 > .archives01-01 > li > a > .pic > img {
  border-radius: 20px 20px 0 0;
  display: block;
  width: 100%;
  height: 100%;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 > .archives01-01 > li > a > .tit_area {
  position: relative;
  display: block;
  height: 134px;
  background-color: #fff;
  padding-left: 20px;
  border-radius: 0 0 20px 20px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(75%, white), to(transparent));
  background: linear-gradient(to top, white 75%, transparent);
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 > .archives01-01 > li > a > .tit_area:after {
  content: '';
  position: absolute;
  left: 220px;
  bottom: 40px;
  width: 22px;
  height: 20px;
  background-image: url(./../images/sp_main.png);
  background-position: -342px 0;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 > .archives01-01 > li > a > .tit_area > .tit {
  display: block;
  height: 50px;
  line-height: 80px;
  font-size: 17px;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives01 > .archives01-01 > li > a > .tit_area > .date {
  display: block;
  height: 64px;
  line-height: 64px;
  font-size: 14px;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives03 {
  width: 560px;
  height: 333px;
  border: 1px solid #dedede;
  border-radius: 20px;
  background-color: #fff;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives03 > p {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

#wrap > section > .cont4 > .bg_main > .archives > .flex-container > .archives06 {
  width: 560px;
  height: 80px;
  border: 1px solid #dedede;
  border-radius: 20px;
}

#wrap > section > .cont5 > .banner {
  position: relative;
  width: 1400px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

#wrap > section > .cont5 > .banner > .banner-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2240px;
}

#wrap > section > .cont5 > .banner > .banner-slide > li {
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 268px;
}

#wrap > section > .cont5 > .banner > .banner-slide > li > a {
  display: block;
  height: 84px;
}

#wrap > section > .cont5 > .banner > .banner-slide > li > a > img {
  display: block;
  width: 100%;
  height: 100%;
}

#wrap > section > .rightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#wrap > section > .rightbox > .frame {
  margin: 100px auto;
  width: 800px;
  height: 1066px;
  background-image: url(./../images/rightbox.jpg);
  text-indent: -9999px;
}

#wrap > section > .rightbox > .close {
  display: block;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 40px;
}

#wrap > footer {
  position: relative;
  margin-top: 30px;
}

#wrap > footer > .footer-tab {
  height: 62px;
  background-color: #1e1e1e;
}

#wrap > footer > .footer-tab > .foicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

#wrap > footer > .footer-tab > .foicon > li {
  width: 204px;
  margin-top: 18px;
}

#wrap > footer > .footer-tab > .foicon > li:last-child > a {
  width: 100px;
}

#wrap > footer > .footer-tab > .foicon > li:last-child > a:before {
  display: none;
}

#wrap > footer > .footer-tab > .foicon > li > a {
  position: relative;
  display: block;
  height: 31px;
  color: #fff;
  font-size: 18px;
  opacity: 0.7;
}

#wrap > footer > .footer-tab > .foicon > li > a:before {
  content: '';
  position: absolute;
  right: 30px;
  top: 10px;
  width: 4px;
  height: 4px;
  background-color: #666;
  border-radius: 50%;
}

#wrap > footer > .top {
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: 635px;
  width: 60px;
  background-image: url(./../images/go_top.png);
}

#wrap > footer > .top > a {
  display: block;
  height: 60px;
  text-indent: -9999px;
}

#wrap > footer > .lastfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  margin: 50px auto;
}

#wrap > footer > .lastfooter > h2 {
  width: 169px;
  height: 43px;
  margin-right: 40px;
  background-image: url(./../images/logo_footer.png);
  text-indent: -9999px;
}

#wrap > footer > .lastfooter > p {
  font-size: 18px;
  line-height: 1.4;
}
/*# sourceMappingURL=style.css.map */